body {
  margin: 0;
  background-color: #353839;
}

header {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
}

#id_search {
  background-color: #fffafa;
  border-radius: 5px;
  height: 30px;
  width: 500px;
}

.class_icon {
  width: 20px;
  height: 20px;
  fill: #fffafa;
  padding-left: 10px;
  padding-right: 10px;
}

.class_cards {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  outline: 2px;
  margin: 40px;
  background-color: aquamarine;
  padding: 20px;
  border-radius: 5px;
}

.img_cards {
  width: 150px;
  height: 150px;

}

.div_cards {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 500px;
}

.class_div_img_card{
    justify-content: center;
    display: flex;
}