body {
  margin: 0;
  background-color: #353839;
}

header {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
}

#id_search {
  background-color: #fffafa;
  border-radius: 5px;
  height: 30px;
  width: 500px;
}

.class_icon {
  width: 20px;
  height: 20px;
  fill: #fffafa;
  padding-left: 10px;
  padding-right: 10px;
}

.class_cards {
  display: inline-block;
  width: 20%;
  margin: 40px;
  background-color: #fffafa;
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(211, 211, 211, 1);
  -moz-box-shadow: 0px 0px 2px 0px rgba(211, 211, 211, 1);
  box-shadow: 0px 0px 2px 0px rgba(211, 211, 211, 1);
}

#id_trending_products {
  margin-left: 15%;
  margin-right: 15%;
  background-color: #35a7ff;
  margin-bottom: 0px;
  color: #fffafa;
  padding: 20px;
  font-size: 20px;
}

.div_trending_products {
  display: flex;
  flex-direction: column;
}

.img_cards {
  width: 200px;
  height: 200px;
}

.div_cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f2f0ef;
  margin-left: 15%;
  margin-right: 15%;
}

.class_div_img_card {
  justify-content: center;
  display: flex;
}

.class_buttom {
  border-radius: 2px;
  border: none;
}

.class_price {
  font-size: 30px;
}

h3 {
  margin-top: 20%;
}
